# terraform ignores
.terraform/
terraform.tfstate.backup
.terraform.tfstate.lock.info

# ignore the meta repo when we clone it within this directory to generate
# the tables
meta
# Generated tables directories
directory/
links/

# files added by cargo
/target
**/*.rs.bk

# nginx ignores
nginx/.htpasswd

