# terraform ignores
.terraform/
terraform.tfstate.backup

# hugo
directory/public
directory/resources

# meta repo
meta


#Added by cargo
#
#already existing elements are commented out

/target
**/*.rs.bk
