# files added by cargo
target
**/*.rs.bk
airtable/Cargo.lock
barcodey/Cargo.lock
checkr/Cargo.lock
diesel-sentry/Cargo.lock
docusign/Cargo.lock
google-geocode/Cargo.lock
mailchimp/Cargo.lock
printy/Cargo.lock
quickbooks/Cargo.lock
shippo/Cargo.lock
slack/Cargo.lock
tailscale/Cargo.lock

# github cache
.cache

# rfd/

*.key
*.crt

brex.csv
expensify.csv
bill.com.csv

node_modules
package-lock.json
package.json
