[package]
name = "webhooky"
description = "A simple webhook server for listening on GitHub and Google Sheets webhooks to perform events."
version = "0.1.0"
authors = ["Jess Frazelle <jess@oxide.computer>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
chrono = { version = "0.4", features = ["serde"] }
chrono-humanize = "0.0.11"
cio-api = { git = "https://github.com/oxidecomputer/cio", branch = "master" }
#cio-api = { path = "../cio" }
#dropshot = "^0.3.0"
dropshot = { git = "https://github.com/jessfraz/dropshot", branch = "working" }
futures-util = "0.3"
google-drive = "^0.1.0"
http = "0.2.0"
#hubcaps = { version = "0.6", features = ["httpcache"] }
hubcaps = { git = "https://github.com/jessfraz/hubcaps", branch = "actions", features = ["httpcache"] }
#influxdb = { version = "0.3.0", features = ["derive"] }
influxdb = { git = "https://github.com/jessfraz/influxdb-rust", branch = "cloud", features = ["derive"] }
opentelemetry = { version = "0.10", default-features = false, features = ["trace", "tokio"] }
opentelemetry-zipkin = { version = "^0.8", features = ["reqwest-client"], default-features = false }
schemars = { version = "0.8", features = ["chrono", "uuid"] }
sentry = "0.19.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sheets = "^0.1.0"
shippo = "^0.1.12"
tokio = { version = "0.2", features = ["macros", "rt-threaded"] }
tracing = "^0.1"
tracing-attributes = "^0.1"
tracing-futures = "^0.2"
tracing-opentelemetry = "^0.9.0"
tracing-subscriber = { version = "^0.2", features = ["ansi", "fmt", "json", "chrono", "registry"] }
