[package]
name = "webhooky"
description = "A simple webhook server for listening on GitHub and Google Sheets webhooks to perform events."
version = "0.1.0"
authors = ["Jess Frazelle <jess@oxide.computer>"]
edition = "2018"

[[bin]]
name = "webhooky"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
async-bb8-diesel = { git = "https://github.com/oxidecomputer/async-bb8-diesel.git", rev = "b2102ce03616938421eb1a9eabe04f10f79e2c44" }
checkr = "^0.0.10"
chrono = { version = "0.4", features = ["serde"] }
chrono-humanize = "0.2.1"
chrono-tz = { version = "0.6", features = ["serde"] }
#cio-api = { git = "https://github.com/oxidecomputer/cio", rev = "acc1c2365d81ef8be38b61db75fee5886b7fe6a6" }
cio-api = { path = "../cio" }
clap = { version = "^3.1.17", features = ["cargo", "derive", "env", "unicode"] }
clokwerk = "0.4.0-rc1"
# Tracking pending 2.0 version.
diesel = { git = "https://github.com/diesel-rs/diesel", rev = "6d681420",  features = ["serde_json", "postgres", "chrono", "128-column-tables", "r2d2"]  }
docusign = "^0.1.0"
#dropshot = "^0.5.0"
dropshot = { git = "https://github.com/oxidecomputer/dropshot", branch = "clone" }
duct = "^0.13"
#duct = { git = "https://github.com/jessfraz/duct.rs", branch = "async" }
formdata = "^0.13.0"
futures-util = "0.3"
google-drive = "^0.2.7"
#google-drive = { path = "../../third-party-api-clients/google/drive" }
gusto-api = "^0.2.4"
#gusto-api = { path = "../../third-party-api-clients/gusto" }
http = "0.2.6"
hyperx = { package = "hyper", version = "0.10" }
lazy_static = "^1.4.0"
log = { version = "0.4", features = ["serde"] }
mailchimp-api = "^0.1.11"
mime_guess = "2"
octorust = { version = "^0.1.35", features = ["httpcache"] }
#octorust = { path = "../../third-party-api-clients/github/", features = ["httpcache"] }
pretty_env_logger = "0.4"
quickbooks = "^0.1.12"
ramp-api = "^0.2.2"
#ramp-api = { path = "../../third-party-api-clients/ramp" }
rand = "^0.8.5"
regex = "^1.5.5"
reqwest = { version = "0.11", features = ["json"] }
schemars = { version = "0.8", features = ["chrono", "uuid"] }
sentry = {  features = ["anyhow", "backtrace", "default", "panic", "contexts", "debug-images", "tracing", "log", "slog"], git = "https://github.com/jessfraz/sentry-rust", rev = "ddcbd07f75c6973ee7096e490a54745db73817b7"  }
#sentry = {  features = ["anyhow", "backtrace", "default", "panic", "contexts", "debug-images", "tracing"], path = "../../sentry-rust/sentry"  }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_qs = "0.9"
serde_urlencoded = "^0.7.0"
sheets = "^0.2.0"
#sheets = { path = "../../third-party-api-clients/google/sheets" }
shipbob = "^0.1.4"
shippo = "^0.1.12"
signal-hook = "^0.3"
slack-chat-api = "^0.1.46"
slog = "2"
slog-async = "2"
slog-json = "^2.6.1"
slog-scope = "4"
slog-stdlog = "4"
slog-term = "2"
steno = { git = "https://github.com/oxidecomputer/steno", branch = "main" }
tokio = { version = "1", features = ["full", "time"] }
tracing = "^0.1"
tracing-subscriber = { version = "^0.3.9", features = ["registry", "std", "fmt", "smallvec", "ansi", "tracing-log", "json"] }
urlencoding = "2.1.0"
uuid = { version = "^0.8", features = ["serde", "v4"] }
zoom-api = "^0.2.1"
#zoom-api = { path = "../../third-party-api-clients/zoom" }

[dev-dependencies]
pretty_assertions = "1"
