[package]
name = "cio-api"
description = "Helper functions and types for doing the activities of a CIO"
version = "0.2.0"
authors = ["Jess Frazelle <jess@oxide.computer>"]
edition = "2018"
license = "Apache-2.0"
repository = "https://github.com/oxidecomputer/cio"
documentation = "https://docs.rs/cio-api"

[[bin]]
name = "cio-api"
path = "src/main.rs"

[dependencies]
acme-lib = "^0.8.0"
airtable-api = "^0.1.33"
anyhow = "1"
#airtable-api = { path = "../airtable" }
async-recursion = "^0.3.2"
async-trait = "^0.1.0"
barcoders = { version = "1.0.2", features = ["image", "ascii", "svg", "json"]}
base64 = "^0.13"
byte-unit = "4"
checkr = "^0.0.10"
#checkr = { path = "../checkr" }
chrono = { version = "0.4", features = ["serde"] }
chrono-humanize = "0.0.11"
chrono-tz = { version = "0.4", features = ["serde"] }
cloudflare = "^0.8.0"
csv = "1.1"
comrak = "0.8"
deunicode = "1.3.0"
diesel = { version = "^1.4.6", features = ["serde_json", "postgres", "chrono", "128-column-tables", "r2d2"] }
diffy = "^0.2.0"
docusign = "^0.1.0"
#docusign = { path = "../docusign" }
dropshot = "^0.5.0"
flate2 = "1"
#dropshot = { git = "https://github.com/jessfraz/dropshot", branch = "rebased-working-args" }
futures-util = "0.3"
google-calendar = "^0.1.0"
#google-calendar = { path = "../../third-party-api-clients/google/calendar" }
google-drive = "^0.2.0"
#google-drive = { path = "../../third-party-api-clients/google/drive" }
google-geocode = "^0.1.2"
#google-geocode = {path = "../google-geocode" }
google-groups-settings = "^0.1.0"
#google-groups-settings = { path = "../../third-party-api-clients/google/groups-settings" }
gsuite-api = "^0.2.0"
#gsuite-api = { path = "../../third-party-api-clients/google/admin" }
gusto-api = "^0.2.4"
#gusto-api = { path = "../../third-party-api-clients/gusto" }
handlebars = "3.5.3"
html2text = "0.1"
image = "^0.23.14"
Inflector = "^0.11.4"
lopdf = { git = "https://github.com/J-F-Liu/lopdf", branch = "master" }
log = { version = "0.4", features = ["serde"] }
macros = { path = "../macros" }
mailchimp-api = "^0.1.15"
#mailchimp-api = { path = "../mailchimp" }
names = "^0.11.0"
nom_pem = "4"
octorust = { version = "^0.1.16", features = ["httpcache"] }
#octorust = { path = "../../third-party-api-clients/github/", features = ["httpcache"] }
okta = "^0.2.2"
#okta = { path = "../../third-party-api-clients/okta/" }
openssl = "0.10"
phonenumber = "0.2"
pretty_env_logger = "0.4"
printpdf = { version = "^0.3.2" }
quickbooks = "^0.1.12"
#quickbooks = { path = "../quickbooks" }
ramp-api = "^0.2.2"
#ramp-api = { path = "../../third-party-api-clients/ramp" }
rand = { version = "^0.8.3", features = ["alloc"] }
regex = "1"
reqwest = { version = "0.11", features = ["json"] }
revai = { version = "^0.2.2" }
#revai = { path = "../../third-party-api-clients/rev.ai" }
schemars = { version = "0.8", features = ["chrono", "uuid"] }
sendgrid-api = "^0.2.0"
#sendgrid-api = { path = "../../third-party-api-clients/sendgrid" }
sentry = { version = "^0.23.0", features = ["anyhow", "log", "slog", "backtrace", "default"] }
sentry-log = "^0.23.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sheets = "^0.2.0"
#sheets = { path = "../../third-party-api-clients/google/sheets" }
shippo = "^0.1.29"
#shippo = { path = "../shippo" }
shipbob = "^0.1.0"
slack-chat-api = "^0.1.16"
#slack-chat-api = { path = "../slack" }
sodiumoxide = "^0.2.7"
steno = { git = "https://github.com/oxidecomputer/steno", branch = "main" }
tailscale-api = "^0.1.2"
#tailscale-api = { path = "../tailscale" }
tripactions = "^0.2.0"
#tripactions = { path = "../../third-party-api-clients/tripactions" }
tar = "^0.4"
titlecase = "1.0"
tokio = { version = "1", features = ["full"] }
toml = "0.5"
url = "2"
uuid = { version = "^0.8", features = ["serde", "v4"] }
walkdir = "^2.3.2"
yup-oauth2 = "^5"
zip = "0.5"
zoom-api = "^0.2.3"
#zoom-api = { path = "../../third-party-api-clients/zoom" }
