on:
  push:
    paths:
      - '**.rs'
      - '*/Cargo.toml'
      - 'Cargo.lock'
      - .github/workflows/cargo-clippy.yml
      - rust-toolchain
  pull_request:
    paths:
      - '**.rs'
      - '*/Cargo.toml'
      - 'Cargo.lock'
      - .github/workflows/cargo-clippy.yml
      - rust-toolchain
name: cargo clippy
jobs:
  cargoclippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Cleanup unused space
        shell: bash
        run: |
          set -x
          df -h /
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/microsoft
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/.ghcup
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/graalvm
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/share/swift
          df -h /
      - name: Install latest nightly
        uses: oxidecomputer/actions-rs_toolchain@oxide/master
        with:
            components: rustfmt, clippy
      - name: Install libusb
        shell: bash
        run: |
          sudo apt update -y && sudo apt install -y \
            libusb-1.0-0-dev
      # - name: Cache cargo registry
      #   uses: actions/cache@v3
      #   with:
      #     path: ~/.cargo/registry
      #     key: ${{ runner.os }}-cargo-registry-${{ github.ref }}
      #     restore-keys: |
      #       ${{ runner.os }}-cargo-registry-master
      # - name: Cache cargo index
      #   uses: actions/cache@v3
      #   with:
      #     path: ~/.cargo/git
      #     key: ${{ runner.os }}-cargo-index-${{ github.ref }}
      #     restore-keys: |
      #       ${{ runner.os }}-cargo-index-master
      # - name: Cache cargo build
      #   uses: actions/cache@v3
      #   with:
      #     path: target
      #     key: ${{ runner.os }}-cargo-build-target-${{ github.ref }}
      #     restore-keys: |
      #       ${{ runner.os }}-cargo-build-target-master
      - name: Run cargo clippy
        run: |
          cargo clippy
        shell: bash
      - name: Report remaining disk
        shell: bash
        run: |
          set -x
          df -h /
