on:
  push:
    paths:
      - "src/**" # Only run on changes to the src directory.
      - ".github/workflows/rustfmt.yml" # Run when this file changes.
name: rustfmt
jobs:
  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Cache cargo registry
        uses: actions/cache@v1
        with:
          path: ~/.cargo/registry
          key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo index
        uses: actions/cache@v1
        with:
          path: ~/.cargo/git
          key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}
      - name: Cache cargo build
        uses: actions/cache@v1
        with:
          path: target
          key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}
      - name: rustfmt
        uses: docker://rust:latest
        with:
          entrypoint: bash
          args: -c "rustup component add rustfmt && rustfmt --check **/*.rs"
